*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Merriweather', serif;
}
/* top navbar */
.top-navbar{
    display: flex;
    justify-content: space-between;
}
.top-navbar p{
    margin-top: 13px;
    margin-left: 15px;
}
.top-navbar .icons{
    margin-top: 13px;
    margin-right: 15px;
}
.top-navbar a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.top-navbara  img{
    margin-bottom: 3px;
}
.top-navbar a:hover{
    color: black;
}
@media screen and (max-width:400px){
    .top-navbar a{
        font-size: 13px;
    }
    .top-navbar a img{
        width: 15px;
    }
    .top-navbar p{
        font-size: 13px;
    }

}
@media screen and (max-width:320px){
    .top-navbar a{
        font-size: 10px;
    }
    .top-navbar a img{
        width: 13px;
    }
    .top-navbar p{
        font-size: 10px;
    }
}
@media screen and (max-width:318px){
    .top-navbar a{
        font-size: 8px;
        margin-left: 0;
    }
    .top-navbar a img{
        width: 10px;
        margin-left: 0;
    }
    .top-navbar p{
        font-size: 10px;
        margin-top: 20px;
    }
}
#navbar{
    background-color: rgb(0, 33, 86);
}
#logo{
    margin-left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
}
#logo span{
    color: #00ff6a;
}
#logo #span1{
    font-size: 30px;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item{
    margin-left: 12px;
}
#navbar .navbar-toggler i{
    color: white;
    font-size: 20px;
}
.nav-item .nav-link{
    color: white;
    margin-left: 2px;
    text-shadow: 0px 0px 1px black;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    color: #789c9d;
}
.dropdown-menu li a{
    color: white;
    transition: 0.5s ease;
}
.dropdown-menu li a:hover{
    background-color: rgb(53, 86, 0);
    color: #1900ff;
}
#search input{
    border-radius: 50px;
    border: none;
}
#search button{
    border-radius: 50px;
    color: white;
    border: 1px solid #00ffb7;
    background-color:rgb(0, 33, 86);
}
@media screen and (max-width:400px){
    #navbar #logo{
        font-size: 18px;
    }
    #logo #span1{
        font-size: 18px;
    }
}
.home{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
}

.home {
    width: 100%;
    height: 100vh;
    background: url(images/home3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.home ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0 ,0.1);
    z-index: -2;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 20px;
    
}
.content h1{
    color: rgb(255, 255, 255);
    color: rgb(138, 195, 224);
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
    margin-left: 100px;
}
.content h1 span{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
}
#span2{
    color: #00ff1a;
}
.content p{
    margin-left: 100px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 18px;
}
.button {
    --width: 124px;
    --height: 45px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: #00ffb7;
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    margin-left: 100px;
    margin-top: 30px;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #54c48763;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  @media screen and (max-width:420px){
    .content h1{
     font-size: 40px;
     margin-left: 8px;
    }
    .content p{
        font-size: 14px;
        margin-left: 7px;
    }
    .home{
        height: 80vh;
        margin-bottom: 0px;
    }
 }
 @media screen and (max-width:320px){
    .content h1{
     font-size: 36px;
    }
    .home{
      margin-bottom: 0px;
    }
 }
 
/* product cards */
#product-cards{
    margin-top: 100px;
}
#product-cards h1{
    color: #0026ff;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #1e1d1a;
}
#product-cards .card h3{
    font-size: 20px;
    color: black;
}
#product-cards .card p{
    font-size: 12px;
    margin-top: 5px;
    color: black;
}
.star i{
    margin-left: 5px;
    font-size: 15px;
}
.checked{
    color: #ffc800;
}
#product-cards .card h2{
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
#product-cards .card h2 span{
    float: right;
    color: black;
    cursor: pointer;
}
#product-cards #Head img{
    height: 230px;
}
#product-cards #Ipad img{
    height: 230px;
}
@media screen and (max-width:1000px){
    #product-cards .card h3{
        font-size: 15px;
    }
}
/* product cards */
.gallary{
  margin-top: 50px;
  
}
.gallary h1{
  text-align: center;
}

.gallary .card{
  border-radius: 10px;
  box-shadow:rgba(0,0,0,0.1)0px 4px 12px;
  cursor: pointer;
}
.gallary .card img{
  border-radius: 10px;
  transition: 0.5s;
}
.gallary .card img:hover{
  transform: scale(1.1);
}
#gallery{
  margin-top: 50px;
}
#gallery .contianter h2{
  margin-top: 30px;
  align-items: center;
  text-align: center;
}
#gallery .contianter{
  margin-left:180px;
  align-items: center;
  justify-content: space-between;
  
}
#gallery .img-gallery img{
  height:300px;
  width: 400px;
  margin-left: 20px;

}

















/* offer */
#offer{
    margin-top: 100px;
}
#offer i{
    font-size: 32px;
    color: black;
}
/* offer */
#newslater{
    margin-top: 100px;
}
#newslater h3{
    font-size: 30px;
    letter-spacing: 3px;
    background-color: #b7d5b7;
    font-weight: 800;
}
.input{
    margin-top: 30px;
}
.input input{
    width: 350px;
    height: 36px;
    letter-spacing: 2px;
    border-radius: 3px;
    border:  1px solid black;
    padding-left: 5px;
}
#subscribe{
    width: 200px;
    height: 36px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #1ea3b4;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 0px 0px 1px rgb(77, 62, 62);
}
@media screen and (max-width:465px){
    .input input{
        width: 280px;
    }
    #subscribe{
        margin-top: 10px;
    }
}
@media screen and (max-width:250px){
    .input input{
        width: 150px;
    }
    #subscribe{
        width: 150px;
    }
}
/* footer */
#footer{
    padding: 10px 0 20px 0px;
    color: white;
    font-size: 14px;
    background-color:#08112c;
    margin-top: 100px;
}
#footer .footer-top{
    padding: 60px 0 30px 0;
    color: white;
}
#footer .footer-top .footer-contact{
    margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3{
    color: #125d12;
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: rgb(5, 32, 48);
}
#footer  #stron{
    color: #0c2264;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;
}
#footer .footer-top .footer-links h4{
    color: #125d12;
}
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding: 7px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li a{
    text-decoration: none;
    color: rgb(15, 16, 19);
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
}
#footer .footer-top .footer-links ul li a:hover{
    color: #00ff2f;
}
#footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
}
#footer .socail-links #nst{
    color:#bc2a8d;
}
#footer .socail-links #yo{
    color:  #f10f12;
}
#footer .socail-links #fa{
    color: #1DA1F2;
}
#footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    line-height: 1;
    padding: 8px 0;
    margin-right: 7px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
}
#footer .footer-links p{
    color: #212c23;
}
#footer .footer-top .socail-links a:hover{
    background-color: #00f2ff;

}
#footer .copyright{
    text-align: center;
    float: left;
}

#footer .credit h6{
    align-items: center;
    font-size: 20px;
}
#footer .credit{
    align-items: center;
    text-align: center;
    font-size: 16px;
}
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}
.container {
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
  }
  
  .form {
    margin-top: 20px;
  }
  
  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }
  
  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
  }
  
  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
  .social-account-container {
    margin-top: 25px;
  }
  
  .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
  }
  
  .social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  
  .social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
  }
  
  .social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
  }
  
  .social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
  }
  
  .social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
  }
  
  .agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .agreement a {
    text-decoration: none;
    color: #0099ff;
    font-size: 9px;
  }

  * {box-sizing: border-box}

  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  
/* about */
#about{
  margin-top: 30px;
}
#about h3{
  font-weight: bold;
  color: #ffc800;
  text-shadow: 0px 1px 1px black;
}
#about button{
  width: 150px;
  height: 36px;
  color: white;
  background-color: rgb(18, 26, 174);
  border-radius: 5px;
  cursor: pointer;
}
/* about */
#contact{
  margin-top: 50px;
}
#contact .card{
  height: 80px;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111 ,0.2) 0px 7px 29px 0px;
}
#contact .card i{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  color: rgb(67 0 86);
  font-weight: bold;
  letter-spacing: 3px;
}
#contact .card h6{
  margin-left: 10px;
  margin-top: 10px;
  letter-spacing: 3px;
  font-weight: bold;
  color: rgb(67 0 86);
}
.messagebtn button{
  margin-top: 30px;
  width: 200px;
  height: 33px;
  background: transparent;
  border: 2px solid rgb(67 0 86);
  font-weight: bold;
  letter-spacing: 3px;
  transition: 0.5s ease;
  cursor: pointer;
}
.messagebtn button:hover{
  background-color: rgb(67 0 86);
  color: white;
}